<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine.min.css" />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body ng-app="myApp" ng-controller="myCtrl as ctrl">
    <label for="githubId">Github User</label>
    <input id="githubId" type="text" ng-model="ctrl.githubId"/>
    <button ng-click="ctrl.getProfile()" ng-disabled="ctrl.working">Get Profile!</button>
    <div>
      <img ng-src="{{ctrl.githubAvatar}}" id="img-avatar" />
      <ul id="info">
        <li ng-bind-template="Name : {{ctrl.githubName}}"></li>
        <li ng-bind-template="Email : {{ctrl.githubEmail}}"></li>
        <li ng-bind-template="Company : {{ctrl.githubCompany}}"></li>
      </ul>
    </div>
    <hr />
    <script data-require="angular.js@1.4.8" data-semver="1.4.8" src="https://code.angularjs.org/1.4.8/angular.js"></script>
    <script data-require="jquery@*" data-semver="2.1.4" src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="script.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine-html.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/boot.min.js"></script>
    <script src="test.js"></script>

  </body>

</html>
